body { font-family: Roboto, Helvetica, Arial, sans-serif }

.dashboard { background-color: #036; color: rgba(255, 255, 255, 0.75); fill: rgba(255, 255, 255, 0.75) }

.header { display: flex; height: 3rem }
.header svg { fill: inherit; display: inline-block; width: 1.5rem; height: 1.5rem }
.header svg,
.header div span { opacity: 0.7 }
.header a,
.header a:hover { color: inherit }
.header svg { margin: 0.75rem 0 0 0.75rem }
.header .menus { height: 3rem; line-height: 3rem; min-width: 10rem; margin-right: 0 }
.header .menus .menu { min-height: 3rem }
.header .menus menu { min-height: 3rem; top: 2.75rem; right: -0.75rem; background-color: #FFF }
.header div:hover svg { opacity: 1 }
.header .heading,
.header .heading a { height: 3rem; line-height: 3rem; opacity: 0.8; font-size: 1rem }

.navigation { height: 3rem; line-height: 3rem; background-color: inherit; color: inherit }
.navigation svg { min-width: 1rem; min-height: 0.8rem; max-width: 1rem; max-height: 0.8rem; fill: inherit; display: inline-block; margin-top: 1rem }
.navigation a { line-height: 3rem; font-size: 0.9rem; color: inherit; opacity: 0.7; cursor: pointer }
.navigation span { line-height: 3rem }
.navigation a.current-page { opacity: 0.9; color: inherit }
.navigation a:hover { color: inherit; opacity: 1 }
.navigation a[disabled] { opacity: 0.5 }
.navigation .app { padding: 0 }
.navigation img { width: 3rem; height: 3rem }

.application-navigation { background-color: rgba(0, 0, 0, 0.25); color: inherit; height: 2.4rem; line-height: 2.4rem }
.application-navigation svg { min-width: 1rem; min-height: 0.8rem; max-width: 1rem; max-height: 0.8rem; fill: inherit; display: inline-block; margin-top: 1rem }
.application-navigation a { cursor: pointer; opacity: 0.7 }
.application-navigation span:first-of-type { opacity: 1.0 }
.application-navigation a,
.application-navigation span { font-size: 0.9rem; display: inline-block; margin-left: 1rem; color: inherit }
.application-navigation a.current-page { opacity: 0.9; color: inherit }
.application-navigation a:hover { color: inherit; opacity: 0.9 }
.application-navigation a[disabled] { opacity: 0.5 }
.application-navigation .app { padding: 0 }

.drop-down ol { right: -1rem }
.account svg { margin-right: 0.75rem }

.apps { margin-left: 0; display: flex; height: 3rem; line-height: 3rem; cursor: pointer; filter: drop-shadow(0 0 1rem rgba(33, 66, 99, 0.75)) }
.apps .hidden { display: none; position: absolute; top: 3rem; z-index: 1; width: 100% }
.apps:hover .hidden { display: block}
.apps .heading,
.apps .heading a { height: 3rem; line-height: 3rem; opacity: 0.7; font-size: 0.9rem }
.apps .heading { padding-left: 0.5rem }
.apps menu,
.apps menu li,
.apps menu li a { display: inline }
.apps menu.ungrouped { display: block }
.apps menu.ungrouped,
.apps menu.ungrouped li,
.apps menu.ungrouped a { height: 3rem; line-height: 3rem; background-color: #FFF; color: #000 }
.apps menu { text-align: left; padding: 0; margin: 0; background-color: inherit; color: inherit; list-style-type: none; width: 100% }
.apps menu li { margin: 0; height: auto; line-height: 2rem; text-align: left } 
.apps menu a { opacity: 0.7; font-size: 0.9rem; color: inherit; padding: 0.75rem; text-decoration: none; line-height: 1.5rem }
.apps menu a:hover,
.apps menu a:focus { opacity: 1 }
.apps:hover menu menu,
.apps menu menu { position: initial; width: auto; background-color: inherit; color: inherit }
.apps menu menu { display: inline-block }